{% extends 'learn/subtopic.html.j2' %}
{% block explanation %}
  <p>Partial fractions can be found for an algebraic fraction whose denominator has distinct linear factors by first equating the fraction to partial fractions with variables as their numerators, and then solving to obtain a set of simultaneous equations, which can be solved to find the numerators.</p>
  <br>
  <p>For example, find partial fractions for \(\dfrac{-x}{x^2+5x+6}\).</p>
  <p class="math">$$
    \begin{eqnarray}

    \text{The denominator } x^2 + 5x + 6 \text{ can be factorised as } (x+2)(x+3) \text{.} \\\\
    \therefore \text{We need to find partial fractions for } \frac{-x}{(x+2)(x+3)} \text{.}\\
    \\
    \text{We start by equating the fraction to partial fractions with unknown numerators: }\\
    \frac{-x}{(x+2)(x+3)} = \frac{A}{x+2} + \frac{B}{x+3}\\
    \\
    \text{This equation can be manipulated to obtain simultaneous equations in } A \text{ and } B \text{.}\\
    \\
    \dfrac{-x}{\cancel{(x+2)(x+3)}} \times \cancel{(x+2)(x+3)} = \frac{A}{\cancel{x+2}} \times \cancel{(x+2)}(x+3) + \frac{B}{\cancel{x+3}} \times (x+2)\cancel{(x+3)}\\
    -x = A(x + 3) + B(x + 2)\\
    -x = Ax + 3A + Bx + 2B\\
    -x + 0 = (A + B)x + (3A + 2B)\\
    \\
    \text{The next step is to compare coefficients. The coefficient of } x \text{ on the left hand side is } -1\text{.}\\
    \text{The coefficient of } x \text{ on the right hand side is } (A + B) \text{.}\\
    \therefore  A + B = -1\\
    \\
    \text{The constant term on the left hand side is } -1 \text{ and the constant term on the right hand side is } (3A + 2B) \text{.}\\
    \therefore  3A + 2B = 0\\
    \\
    \text{We now have our simultaneous equations, which we can solve to find } A \text{ and } B \text{.}\\
    \\
    A + B = -1\\
    3A + 2B = 0\\
    \\
    3A + 3B = -3\\
    B = -3\\
    \\
    A - 3 = -1\\
    A = 2\\
    \\
    \text{We have ascertained that } A = 2 \text{ and } B = -3 \text{, so } \frac{A}{x+2} + \frac{B}{x+3} = \frac{2}{x+2} - \frac{3}{x+3} \text{.}\\
    \therefore \frac{-x}{(x+2)(x+3)} = \underline{\underline{\frac{2}{x+2} - \frac{3}{x+3}}}



  \end{eqnarray}
  $$</p>
{% endblock explanation %}
