{% extends 'learn/subtopic.html.j2' %}
{% block explanation %}
  <h3>Position and Velocity</h3>
  <p>The velocity of an object is the rate of change of its position. If the position of an object on the horizontal axis is given by \(x\), the velocity would therefore be the rate of change of \(x\), or the change in \(x\) with respect to time (\(t\)), i.e. \(\frac{dx}{dt}\).</p>
  <p>Similarly, if the position of an object along the vertical axis is given by \(y\), the velocity would be given by \(\frac{dy}{dt}\).</p>
  <h3>Velocity and Speed</h3>
  <p>Velocity is a vector quantity, meaning it has both magnitude and direction, while speed is a scalar quantity, meaning it has only magnitude. Given that the velocity of an object along the horizontal axis is \(\frac{dx}{dt}\) and the velocity along the vertical axis is \(\frac{dy}{dt}\), the following triangle of its motion can be constructed. This is a diagram of the instantaneous velocities of the object, i.e. frozen at a point in its motion. The hypotenuse of the triangle is the resultant velocity vector, i.e. the combination of both components of the velocity.</p>
  <div class="math tikz-container" style="padding: 12px;">
    <script type="text/tikz">
      \begin{tikzpicture}[scale=5]

        \coordinate (A) at (0, 0) {};
        \coordinate (B) at (1, 0) {};
        \coordinate (C) at (1, 1) {};

        \draw[line width=2pt,blue,-stealth] (0,0)--(1,0);
        \draw[line width=2pt,red,-stealth] (1,0)--(1,1);
        \draw[line width=2pt,violet,-stealth] (0,0)--(1,1);
        \node[color=blue] (a) at (0.5,-0.1) {\LARGE $dx/dt$};
        \node[color=red] (a) at (1.2,0.5) {\LARGE $dy/dt$};
        \node[color=violet,rotate=45] (a) at (0.4,0.6) {\LARGE resultant};

        \draw[line width=2pt] (0.9,0) -- (0.9,0.1) -- (1,0.1);
      \end{tikzpicture}
    </script>
  </div>
  <br>

  The magnitude of resultant velocity can be calculated using the Pythagorean theorem, as follows:
  <p class="math">$$
    \begin{eqnarray}
      \text{resultant}^2 &amp;=&amp; (\frac{dx}{dt})^2 + (\frac{dy}{dt})^2\\
      \therefore \text{resultant} &amp;=&amp; \sqrt{(\frac{dx}{dt})^2 + (\frac{dy}{dt})^2}\\
    \end{eqnarray}
  $$</p>
  <br>

  The magnitude of the velocity is the speed, therefore the overall speed of the object is given by the magnitude of the resultant velocity. Therefore, the following formula can be used to find the speed of an object when its positions in the \(x\) and \(y\) directions are given parametrically in terms of \(t\).
  <p class="math">$$
    \text{speed} = \sqrt{(\frac{dx}{dt})^2 + (\frac{dy}{dt})^2}
  $$</p>
  <br>

  <h3>Example: Parametrically defined positions</h3>

  <p>A particle's positions in the \(x\) and \(y\) directions in metres are given by the equations \(x = \sin t\) and \(y = t^2\) respectively. Find the speed of the object at a time of 3 seconds.</p>
  <p class="math">$$
    \begin{eqnarray}
      \frac{dx}{dt} &amp;=&amp; \cos t\\
      \frac{dy}{dt} &amp;=&amp; 2t\\
      \\
      \text{speed } &amp;=&amp; \sqrt{(\frac{dx}{dt})^2 + (\frac{dy}{dt})^2}\\
      &amp;=&amp; \sqrt{(\cos t)^2 + (2t)^2}\\
      &amp;=&amp; \sqrt{\cos^2 t + 4t^2}
      \\
      \\
      \text{At } t = 3\text{ seconds:}\\
      \text{speed } &amp;=&amp; \sqrt{\cos^2 3 + 4(3)^2}\\
      &amp;=&amp; \sqrt{\cos^2 3 + 36}\\
      &amp;=&amp; \underline{\underline{6.1 \text{ metres per second}}}

    \end{eqnarray}
  $$</p>

  <br>

  <h3>Displacement, Velocity and Acceleration</h3>
  An object's velocity is the rate of change of its displacement, and its acceleration is the rate of change of its velocity. If the displacement of an object is given by \(s\), the velocity \(v\) and the acceleration \(a\) can be found as follows:
  <p class="math">$$
    \begin{eqnarray}
      v &amp;=&amp; \frac{ds}{dt}\\
      a &amp;=&amp; \frac{dv}{dt} &amp;=&amp; \frac{d^2 s}{dt^2}
    \end{eqnarray}
  $$</p>
  <br>
  Conversely, the following formulae can also be used:
  <p class="math">$$
    \begin{eqnarray}
      s &amp;=&amp; \int{vdt}\\
      v &amp;=&amp; \int{adt}\\
    \end{eqnarray}
  $$</p>





{% endblock explanation %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="http://tikzjax.com/v1/fonts.css">
  <script src="http://tikzjax.com/v1/tikzjax.js"></script>
  <style>
    .tikz-container * {
      margin: auto;
    }
  </style>
{% endblock styles %}
