$bgDefault      : #2B7EB8;
$bgHighlight    : #39A8F6;
$bgActive       : #0E5687;   // ~5.7:1 contrast with white text
$colDefault     : white;
$colHighlight   : #88C3ED;
$dropDown       : true;
.navbar-blue {
  color: $colDefault;
  border-radius: 0;
  background-color: $bgDefault !important;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          background-color: $bgHighlight;
        }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            &.divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colDefault;
          background-color: $bgActive; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colDefault;
        background-color: $bgActive; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colDefault;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $bgDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}
  .navbar-logout-form {
    margin: 0; padding: 0; display: inline; }
  .navbar-logout-form > button {
    background: transparent; border: none;
    color: $colDefault;
    padding: 15px;
    line-height: 20px; }
  .navbar-logout-form > button:hover,
  .navbar-logout-form > button:focus {
    background-color: $bgHighlight;
    color: $colDefault;
    text-decoration: none; }}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgActive; }}}
}
