{% extends 'learn/topic.html.j2' %}
{% block explanation %}
  <p>Number theory is a very small part of the AH course. It includes using the Euclidean Algorithm to find integers to satisfy equations, and to convert between number bases.</p>
{% endblock explanation %}
